
//rem适配,rem与px换算
$ratio: 375/10;
@function px($px){
  @return $px/$ratio +rem
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
